div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Rentshak
    p.lead Kick-start your next adventure by visiting Rentshak
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h2.page-header
        input(placeholder='username', ng-model='main.username')
        input(placeholder='password', type='password', ng-model='main.password')
        a(href='#', ng-click='main.signIn()')
          | Sign in to Backand
      p {{main.results}}
      ul(ng-repeat='mainObject in main.objects')
        li {{mainObject}}

footer.footer
  .container
    p
      | Rentshak built with Angular Fullstack v2.1.1